<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 second">

    <property name="log.dir" value="logs" />
    <property name="encoding" value="UTF-8" />
    <property name="plain" value="%msg%n" />
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="std" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg %n" />
    <property name="mdc" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg ProcessDefinitionId=[%X{mdcProcessDefinitionID}]
    executionId=[%X{mdcExecutionId}] mdcProcessInstanceID=[%X{mdcProcessInstanceID}] mdcBusinessKey=[%X{mdcBusinessKey}] %logger{10}.%M:%L%n%n"/>
    <property name="normal" value="%d{HH:mm:ss.SSS}[%thread][%-5level]%msg %n" />

    <property name="PROJECT" value="iorder" />
    <property name="ROOT" value="logs/${PROJECT}/" />
    <property name="FILESIZE" value="50MB" />
    <property name="MAXHISTORY" value="100" />
    <timestamp key="DATETIME" datePattern="yyyy-MM-dd HH:mm:ss" />

    <!-- 控制台打印 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${std}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.dir}/file.log</File>
        <encoder>
            <pattern>${std}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>ERROR</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/file.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${MAXHISTORY}</maxHistory>
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--<maxFileSize>${FILESIZE}</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
        </rollingPolicy>
    </appender>

    <!-- SQL相关日志输出-->
    <!--<logger name="com.github.miemiedev.mybatis.paginator" level="INFO" additivity="false" />-->

    <logger name="root" level="INFO" />
    <!--<logger name="pwd.allen" level="DEBUG" />-->
    <logger name="org.activiti.engine" level="DEBUG" />


    <!-- Logger 根目录 -->
    <root>
        <appender-ref ref="stdout" />
        <!--<appender-ref ref="file" />-->
    </root>
</configuration>